<h1>Listing Cars</h1>

<table>
  <thead>
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Price</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
  <tr id="<%= dom_id(car) %>">
    <td><%= car.year %></td>
    <td><%= car.make %></td>
    <td><%= car.model %></td>
    <td><%= car.price %></td>
    <% if car.user %>
        <td><%= link_to 'Unclaim', unclaim_car_path(car) %></td>
    <% else %>
        <td><%= link_to 'Claim', claim_car_path(car) %></td>
    <% end %>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Delete', edit_car_path(car) %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% if params[:controller] == 'cars' && params[:action] == 'my_cars' %>
    <%= link_to 'General Invetory List', root_path
<%= link_to 'New Car', new_car_path %>
